{% extends "base.html" %}
{% block title %} About us {% endblock title %}
{% block content %}
<div class="container-fluid p-5 h-auto">
    <h2 class="text-center text-danger">About us | Know our story</h2>
    <p class="text-center">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum sint, labore, quas sequi quaerat eos fugit
        molestiae impedit magnam obcaecati tempora, adipisci quasi perspiciatis voluptate cumque veniam! Sint, quos
        voluptatum? Repudiandae illum aut, nesciunt expedita aliquid exercitationem vitae, sapiente laudantium labore
        corrupti facere repellat consequatur iste accusantium earum soluta delectus?
    </p>
</div>
{% endblock content %}